.App {
  text-align: center;
  background-color: var(--background);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  color: var(--color-secondary)
}

p{
  color:var(--color-primary)
}
