.ARCHIVED {
	background-color: darkslategrey !important;
	--bs-table-accent-bg: transparent !important;
	color:white;
}
.REJECTED {
	background-color: red !important;
	--bs-table-accent-bg: transparent !important;
	color:white;
}
.ACTIVE {
	background-color: lightseagreen !important;
	--bs-table-accent-bg: transparent !important;
	color:white;
}