.OPTION {
	background-color: orange !important;
	--bs-table-accent-bg: transparent !important;
}
.CANCELED {
	background-color: red !important;
	--bs-table-accent-bg: transparent !important;
}
.CONFIRMED {
	background-color: lightseagreen !important;
	--bs-table-accent-bg: transparent !important;
}